*
!vimrc
!.vimrc
!.gitignore
!quickreference.txt

!tidyrc

!colors/
colors/*
!colors/twilight.vim
!colors/distinguished.vim

!syntax/
syntax/*
!syntax/coffee.vim

!indent/
indent/*
!indent/html.vim

!ftplugin/
!ftplugin/*
ftplugin/*~

!setup.sh
